{block title}Login{/block}

{block content}
<h1>Login</h1>
<form n:name="signInForm">
	<div n:foreach="$form->getOwnErrors() as $error" class="error">{$error}</div>
	<label n:name="password" />
	<input n:name="password" autofocus>
	<input n:name="send">
</form>
{/block}
