{block head}
	<link href="{$basePath}/css/onepage-scroll.css" rel="stylesheet">
	<link href="{$basePath}/css/front.css" rel="stylesheet">
	<script src="{$basePath}/js/jquery.onepage-scroll.js"></script>
	<script src="{$basePath}/js/front.js"></script>
{/block}

{block content}
<div class="wrapper">
	<div class="main">
		{for $i = 1; $i <= $slidesCount; $i++}
			{if $i === 2}
				<section class="page2">
					<div class="calendar-events">
						<span id="calendar-move-left" class="button circle desktop-only" style="position: absolute; left:20px; bottom:10px;">«</span>
						<span id="calendar-move-right" class="button circle desktop-only" style="position: absolute; right:20px; bottom:10px;">»</span>
						<h2>Nepravidelný občasník<span class="mobile-only"> »</span></h2>
						<br><br>
						<div n:foreach="$posts as $post" class="calendar-event">
							<p>
								<span class="date">{$post->date|date:'H:i j.n.Y'}</span>
								{$post->content|breakLines}
							</p>
						</div>
					</div>
				</section>
			{else}
				<section class="page{$i}">
					<div class="page_container">
						<div>
							<div class="headline">
								<h1 n:ifcontent>{$strings["page{$i}_h1"] ?? ''|noescape}</h1>
								<h2 n:ifcontent>{$strings["page{$i}_h2"] ?? ''|noescape}</h2>
							</div>
							{$strings["page{$i}_content"] ?? ''|noescape}
						</div>
					</div>
				</section>
			{/if}
		{/for}
	</div>
	<div class="social">
		<a href="https://www.toplist.cz/" target="_top">
			<img src="https://toplist.cz/dot.asp?id=1719898" alt="TOPlist" width="1" height="1">
		</a>
		<a href="https://www.facebook.com/dvojcatanauteku/" target="_blank" title="Facebook - Dvojčata na útěku"><img src="{$basePath}/img/fb.png" alt="Facebook"></a>
	</div>
</div>
{/block}
